<div class="w3-row tela">
    <div class="w3-row">
      <div class="w3-col" style="width:70%;">
        <div class="w3-rest">
          <h3 class="w3-container">Eventos Passados</h3>
        </div>
        <div class="w3-rest">
          <div class="w3-container">
            
            <input class="w3-third w3-input w3-border w3-padding" type="text" placeholder="Pesquiza por nome.." id="myInput" onkeyup="myFunction()">
            <div class="w3-col w3-padding" style="width: 10%;" >Data Inicio:</div>
            <input class="w3-col w3-input w3-border w3-padding" style="width: 170px;" type="date">
            <div class="w3-col w3-padding" style="width: 10%;" >Data Final:</div>
            <input class="w3-col w3-input w3-border w3-padding" style="width: 170px;" type="date">
          </div>
        </div>
        <div class="w3-rest"> 
          <div class="w3-responsive">
            <div class="w3-container">
              <table class="w3-table-all w3-centered w3-hoverable" id="myTable" style="margin: 0px;">
                <tr class="cor_facef" style="background-color: #344f8a">
                  <th>Nome</th>
                  <th>Data</th>
                  <th style="width: 20px;">Presença</th>
                  <th>Tipo</th>
                  <th style="width: 20px;">Horas</th>
                  <th style="width: 20px;">Aprovação</th>
                  <th style="width: 20px;">Fornecido</th>
                </tr>
                <tr>
                  <td>Azure</td>
                  <td>06\04\2018</td>
                  <td style="width: 20px;">Sim</td>
                  <td>Viagem</td>
                  <td style="width: 20px;">8</td>
                  <td style="width: 20px;">sim</td>
                  <td style="width: 20px;" >sim</td>
                </tr>
                
              </table>
            </div>
          </div>
        </div>
        <div class="w3-rest">
          <h3 class="w3-container">Eventos Futuros</h3>
        </div>  
        <div class="w3-rest">
          <div class="w3-container">
            <input class="w3-third w3-input w3-border w3-padding" type="text" placeholder="Pesquisa" id="myInput2" onkeyup="myFunction2()">
          </div>
        </div>      
        <div class="w3-rest"> 
          <div class="w3-responsive">
            <div class="w3-container">
              <table class="w3-table-all w3-centered w3-hoverable" id="myTable2" style="margin: 0px;">
                <tr class="cor_facef" style="background-color: #344f8a">
                  <th>Nome</th>
                  <th>Data</th>
                  <th style="width: 20px;">Presença</th>
                  <th>Tipo</th>
                  <th style="width: 20px;">Horas</th>
                  <th style="width: 20px;">Aprovação</th>
                  <th style="width: 20px;">Inscrever-se</th>
                </tr>
                <tr>
                  <td>Azure</td>
                  <td>06\04\2018</td>
                  <td style="width: 20px;">Sim</td>
                  <td>Viagem</td>
                  <td style="width: 20px;">8</td>
                  <td style="width: 20px;">sim</td>
                  <td style="width: 20px;" ><a style="font-size: 15pt; " href="" class="w3-button w3-circle w3-orange">+</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="w3-rest" >
        <div class="3w-rest">
          <button onclick="document.getElementById('id01').style.display='block'" id='add-evento' class="w3-button w3-xlarge w3-circle w3-orange" style="margin-top: 50%;">+</button>
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-opacity">
              <div class="w3-container">

                <span onclick="document.getElementById('id01').style.display='none'"  style="float: right; border-left: 90%;  padding: 0;"><h4><button class="closing_button">X</button></h4></span>

                <form (ngSubmit)="inserirAtividade()">
                  <div class="w3-cell-row">
                    <div class="w3-third w3-cell">
                      <div class="w3-margin w3-border"  style=" width: 200px; height: 200px;"><img src=""></div>
                      <label for='selecao-arquivo' class="esconde-label">Selecionar uma imagem &#187;</label>
                      <input id='selecao-arquivo' type='file'  name="IMAGEM" (change)="onFileChanged($event)"> 
                    </div>
                    <div class="w3-twothird w3-cell">
                      <div class="w3-container w3-margin" style="border-radius: 10px;">
                        <label class="w3-text-blue"><b>Nome do Evento:</b></label>
                        <input class="w3-input w3-border" type="text"  [(ngModel)]="atividade.nome_ativ" name="ATIV" id="nome_atividade">
                        
                        <label class="w3-text-blue"><b>Local Evento</b></label>
                        <input class="w3-input w3-border" type="text"[(ngModel)]="atividade.local" name="LOCAL">
                        
                        <label class="w3-text-blue"><b>Data Evento Inicio:</b></label>
                        <input class="w3-input w3-border" type="date" [(ngModel)]="atividade.data" name="DATA">
                        
                        <label class="w3-text-blue"><b>Escolha uma categoria:</b></label>
                        <select class="w3-select w3-border" name="option" [(ngModel)]="atividade.categoria" name="CATEGORIA">
                          <option value="" disabled selected>Escolha uma das categorias</option>
                          <option value="Empresa Junior">Empresa Junior</option>
                          <option value="Palestras">Palestras</option>
                          <option value="Voluntariado">Voluntariado</option>
                          <option value="Visitas Tecnicas">Visitas Tecnicas</option>
                          <option value="Outras">Outras</option>
                        </select>
                        
                        <label class="w3-text-blue"><b>Evento fornecido pela faculdade?</b></label><br>
                        <input class="w3-radio" type="radio" name="facu" value="true" [(ngModel)]="atividade.fornecido" checked name="forneceTrue">
                        <label>Sim  </label>
                        <input class="w3-radio" type="radio" name="facu" value="false" [(ngModel)]="atividade.fornecido" checked name="fornecidoFalse">
                        <label>Nao</label><br>
                        
                        <label class="w3-text-blue"><b>Descrição:</b></label>
                        <textarea class="w3-input w3-border" style="resize:none" [(ngModel)]="atividade.descricao" name="ATIVIDADE"></textarea>
                        
                        <button class="w3-btn w3-blue w3-margin" (click)="onUpload()" >Registrar</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>