

<header class="w3-container cor_facef ">
  <img src="../../assets/img/Logo_branca.png" alt="" class="w3-left w3-margin imagem">
  <div class="w3-half w3-bar w3-right menu" >
    <a class="w3-bar-item w3-button w3-right" (click)="logout()">Logout</a>
    <a class="w3-bar-item w3-button w3-right" (click)="PerfilAluno()">Perfil</a>
    <a href="#" class="w3-bar-item w3-button w3-right">Atividades</a>
    <a  class="w3-bar-item w3-button w3-right" (click)="eventosAluno()">Eventos</a>
    <a class="w3-bar-item w3-button w3-right" (click)="homeAluno()">Pagina Inicial</a>
  </div>
</header>