<header class="w3-container cor_facef ">
  <img src="../../assets/img/Logo_branca.png" alt="" class="w3-left w3-margin imagem">
  <div class="w3-half w3-bar w3-right menu" >
    <a href="https://www.unifacef.com.br/" class="w3-bar-item w3-button w3-right">Site</a>
    <a href="http://sga.unifacef.com.br/EddydataApp-war/pages/system/portal.jsf" class="w3-bar-item w3-button w3-right">Portal do Aluno</a>
    <a href="http://ava-grad.unifacef.com.br/login/index.php" class="w3-bar-item w3-button w3-right">Ambiente Virtual</a>
  </div>
</header>